[Unit]
Description=Pidorsky bot

[Service]
ExecStart=/var/www/pdrsky_city_bot/run-bot.sh
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/var/www/pdrsky_city_bot

[Install]
WantedBy=multi-user.target

