[Unit]
Description=Pidorsky bot

[Service]
ExecStart=/var/www/pidorsky-bot/run-bot.sh
Restart=always
User=nobody
Group=nogroup
WorkingDirectory=/var/www/pidorsky-bot

[Install]
WantedBy=multi-user.target

